BusinessReviewWebServices/WebContent/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://connection" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://connection" xmlns:intf="http://connection" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://connection" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="logout">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="logoutResponse">
    <complexType>
     <sequence>
      <element name="logoutReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="login">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="loginReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategories">
    <complexType/>
   </element>
   <element name="getCategoriesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCategoriesReturn" type="impl:Categories"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Categories">
    <sequence>
     <element name="categoryId" nillable="true" type="xsd:string"/>
     <element name="categoryName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getSuggestion">
    <complexType>
     <sequence>
      <element name="suggestionValue" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSuggestionResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSuggestionReturn" type="impl:ElementSuggest"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ElementSuggest">
    <sequence>
     <element name="category" nillable="true" type="xsd:string"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="elementName" nillable="true" type="xsd:string"/>
     <element name="rating" nillable="true" type="xsd:string"/>
     <element name="reviewsTotal" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="editReview">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="edit" type="xsd:string"/>
      <element name="rate" type="xsd:string"/>
      <element name="id_No" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editReviewResponse">
    <complexType>
     <sequence>
      <element name="editReviewReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteReview">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="id_NoDel" type="xsd:string"/>
      <element name="elementNameDel" type="xsd:string"/>
      <element name="categoryDel" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteReviewResponse">
    <complexType>
     <sequence>
      <element name="deleteReviewReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getReviews">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="categoryType" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getReviewsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getReviewsReturn" type="impl:Review"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Review">
    <sequence>
     <element name="category" nillable="true" type="xsd:string"/>
     <element name="elements" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="rating" nillable="true" type="xsd:string"/>
     <element name="review" nillable="true" type="xsd:string"/>
     <element name="reviewId" nillable="true" type="xsd:string"/>
     <element name="time" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="signUp">
    <complexType>
     <sequence>
      <element name="fname" type="xsd:string"/>
      <element name="lname" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUpResponse">
    <complexType>
     <sequence>
      <element name="signUpReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="postReview">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="category" type="xsd:string"/>
      <element name="element" type="xsd:string"/>
      <element name="review" type="xsd:string"/>
      <element name="rating" type="xsd:string"/>
      <element name="perform" type="xsd:string"/>
      <element name="description" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="postReviewResponse">
    <complexType>
     <sequence>
      <element name="postReviewReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="postReviewResponse">

      <wsdl:part element="impl:postReviewResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutRequest">

      <wsdl:part element="impl:logout" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getReviewsRequest">

      <wsdl:part element="impl:getReviews" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpRequest">

      <wsdl:part element="impl:signUp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteReviewResponse">

      <wsdl:part element="impl:deleteReviewResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSuggestionResponse">

      <wsdl:part element="impl:getSuggestionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpResponse">

      <wsdl:part element="impl:signUpResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getReviewsResponse">

      <wsdl:part element="impl:getReviewsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="postReviewRequest">

      <wsdl:part element="impl:postReview" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutResponse">

      <wsdl:part element="impl:logoutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoriesRequest">

      <wsdl:part element="impl:getCategories" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editReviewRequest">

      <wsdl:part element="impl:editReview" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteReviewRequest">

      <wsdl:part element="impl:deleteReview" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoriesResponse">

      <wsdl:part element="impl:getCategoriesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSuggestionRequest">

      <wsdl:part element="impl:getSuggestion" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editReviewResponse">

      <wsdl:part element="impl:editReviewResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="logout">

         <wsdl:input message="impl:logoutRequest" name="logoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:logoutResponse" name="logoutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategories">

         <wsdl:input message="impl:getCategoriesRequest" name="getCategoriesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategoriesResponse" name="getCategoriesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSuggestion">

         <wsdl:input message="impl:getSuggestionRequest" name="getSuggestionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSuggestionResponse" name="getSuggestionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editReview">

         <wsdl:input message="impl:editReviewRequest" name="editReviewRequest">

       </wsdl:input>

         <wsdl:output message="impl:editReviewResponse" name="editReviewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteReview">

         <wsdl:input message="impl:deleteReviewRequest" name="deleteReviewRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteReviewResponse" name="deleteReviewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getReviews">

         <wsdl:input message="impl:getReviewsRequest" name="getReviewsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getReviewsResponse" name="getReviewsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdl:input message="impl:signUpRequest" name="signUpRequest">

       </wsdl:input>

         <wsdl:output message="impl:signUpResponse" name="signUpResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="postReview">

         <wsdl:input message="impl:postReviewRequest" name="postReviewRequest">

       </wsdl:input>

         <wsdl:output message="impl:postReviewResponse" name="postReviewResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="logout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logoutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logoutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategoriesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategoriesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSuggestion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSuggestionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSuggestionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editReview">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editReviewRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editReviewResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteReview">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteReviewRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteReviewResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getReviews">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getReviewsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getReviewsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signUpRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signUpResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="postReview">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="postReviewRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="postReviewResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/YelpWebServices/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
